@charset "utf-8";
#search-r {
	padding: 5px 0;
	position: absolute;
	left: 0; top: 61px;
	background-color: #fff;
	list-style-type: none;
	z-index: 9999;
	width:100%;
	max-width: 408px;
	border-right: 1px solid #f1f2f5;
	border-bottom: 1px solid #f1f2f5;
	border-left: 1px solid #f1f2f5;
	color: #fff;
	box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 6%);
	max-height: 500px;
	overflow-y: auto;
}
#search-r ul {
	display: inline-block;
	padding: 0;
	margin: 0;
}
#search-r ul > li {
	padding: 8px 0 8px 16px;
	width:100%;
	float: left;
}
#search-r ul.s-product li > a {
	display: -webkit-flex;
	display: flex;
}
#search-r ul.s-category li > a {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
}
#search-r .s-name {
	font-size: 14px;
	line-height: 120%;
}
#search-r img, #search-r svg {
	margin-right: 12px;
}

#search-r .price {
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: center;
	align-items: center;
	font-size: 18px;
	font-weight: 500;
	text-transform: uppercase;
	line-height: 140%;
	color: rgba(0, 0, 0, 0.48);
	margin-top: 8px;
}
#search-r .price-new {
	color: #cc3333;
}
#search-r .price-old {
	font-size: 14px;
	text-decoration: line-through;
	color: rgba(0, 0, 0, 0.32);
	margin-left: 10px;
}
#search-r .s-text {
	font-size: 12px;
	font-weight: 400;
	color: #c0c2c9;
	padding: 8px 0 0 16px;
}

#search-r viewall {
	font-size: 12px; line-height: 32px; color:#f86302; padding-left: 15px; display: block;
}




#search-r li:hover {
	background-color: #f1f2f5;
}
#search-r li:hover a {
	color: #333 !important;
}

#search-r svg {
	fill: none;
	stroke: #7c7c7c;
	width: 16px;
	height: 16px;
}
#search-r .caret {
	border-top: 2px solid transparent;
	border-right: unset;
	border-bottom: 2px solid transparent;
	border-left: 2px solid #000;
}

/*#search-r .mCSB_dragger .mCSB_dragger_bar{
	background-color: #000;
}*/
/*#search-r .mCSB_draggerRail{*/
	/* background-color: #E2E2E2; */
/*
}
#search-r .mCSB_scrollTools{
	width: 4px;
}
*/

@media (max-width: 1359px) {
/*	#search-r {
		max-width: 320px;

	}*/
}
@media (max-width: 1199px) {
	#search-r {
		top: 56px;
		right: 0;
		max-width: unset;

	}
}

@media (max-width: 991px) {
	#search-r {
		top: 38px;
	}
}
@media (max-width: 767px) {
	#search-r {
		position: fixed;
		top:91px;
		bottom: 0;
		max-height: unset;
	}
	header.fixed #search-r {
		top:59px!important;
	}
	#search-r ul > li {
		padding: 8px 15px 8px 15px;
	}
}


.scroll {
	scrollbar-width: thin;
	scrollbar-color: #cdcdcd #eee
}
.scroll::-webkit-scrollbar {
	width: 4px!important;
	height: 40px
}
.scroll::-webkit-scrollbar-thumb {
	background-color: #000!important
}
.scroll::-webkit-scrollbar-thumb {
	background-color: #000!important
}
.scroll::-webkit-scrollbar-thumb:hover {
	background-color: #000!important
}
.scroll::-webkit-scrollbar-thumb:active {
	background-color: #000!important
}
.scroll::-webkit-scrollbar-track {
	background-color: #c0c2c9;
	opacity: .2
}