.idea
.htaccess
.htaccess_LITE
robots.txt

/config.php
admin/config.php

!index.html

image/catalog/
image/cache/
phpmyadmin/

storage/cache
storage/download
storage/logs
storage/modification
storage/session
storage/upload
storage/vendor

system/storage/cache
system/storage/cache_fv
system/storage/download
system/storage/logs
system/storage/modification
system/storage/session
system/storage/upload
system/storage/vendor

admin/uploads
admin/uploads/log


min/cache/*


download/
image/data/
image/cache/

# vQmod log files
vqmod/logs/*
# vQmod cache files
vqmod/vqcache/*
vqmod/checked.cache
vqmod/mods.cache



.lando.yml

.DS_Store

.htaccess
!system/.htaccess
robots.txt
/config.php
admin/config.php

/upload_review
/front
/error_log
/*.log
*.log


image/catalog/*
!image/catalog/index.html
image/cache/*
!image/cache/index.html
image/upload_review
image/cachewebp/*


system/helper/HTMLPurifier/DefinitionCache/Serializer/HTML/*
ocf.cache*
dynamic_stylesheet*

/php.ini
/.htaccess.txt
google9ead133b780a7ada.html
robots_DIS.txt
robots_ORIG.txt

om-cache/*
!om-cache/.htaccess
xml/*
price/*

