<div class="checkout-comment">
	<div class="form-group">
		<textarea name="comment" rows="3" class="form-checkout{% if comment is not empty %} focus{% endif %}">{{ comment }}</textarea>
		<div class="float-label">{{ opc_comment_setting['text_placeholder_comments'] }}</div>
	</div>
</div>
