<ul class="list-unstyled row">{% for manufacturer in manufacturers %}<li class="col-sm-2"><a href="{{ manufacturer.href }}"><img src="{{ manufacturer.image }}" width="150" height="84" alt="{{ manufacturer.name }}" class="img-responsive"/></a></li>{% endfor %}</ul>
