<div id="search">
  <input type="text" name="search" value="{{ search }}" placeholder="{{ text_search }}"/>
  <button type="button" class="btn-search-close d-f ai-c jc-sa"><svg class="i-search-close" width="10" height="10"><use xlink:href="image/icons.svg#i-search-close" xmlns:xlink="http://www.w3.org/1999/xlink"></use></svg></button>
</div>
