<h3>{{ heading_title }}</h3>
<div class="o-owl o-owl-latest">
    <div class="owl-carousel">{% for product in products %}
        <div class="product-layout">{% include('aviator/template/product/product_thumb.twig') %}</div>{% endfor %}
    </div>
</div>
